Package: libgcrypt20-dev
Source: libgcrypt20
Version: 1.10.3+safe1
Architecture: amd64
Maintainer: Safe Libgcrypt Port Maintainers <maintainers@example.invalid>
Installed-Size: 15370
Depends: libc6-dev | libc-dev, libgcrypt20 (= 1.10.3+safe1), libgpg-error-dev
Conflicts: libgcrypt-dev
Provides: libgcrypt-dev
Section: libdevel
Priority: optional
Homepage: https://gnupg.org/software/libgcrypt/
Description: LGPL Crypto library - development files
 libgcrypt contains cryptographic functions. Many important free
 ciphers, hash algorithms and public key signing algorithms have been
 implemented:
 .
 Arcfour, Blowfish, CAST5, DES, AES, Twofish, Serpent, rfc2268 (rc2), SEED,
 Poly1305, Camellia, ChaCha20, IDEA, Salsa, SM4, Blake-2, CRC, MD2, MD4, MD5,
 RIPE-MD160, SM3, SHA-1, SHA-256, SHA-512, SHA3-224, SHA3-256, SHA3-384,
 SHA3-512, SHAKE128, SHAKE256, Tiger, Whirlpool, DSA, ElGamal, RSA, ECC
 (Curve25519, sec256k1, GOST R 34.10-2001 and GOST R 34.10-2012, etc.)
 .
 This package contains header files, development metadata, helper tools,
 and libraries for static linking.
